In [2]:
import numpy as np
import pandas as pd

In [5]:
# Create a multi-index DataFrame
data = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}, index=[['X', 'X', 'Y', 'Y'], [1, 2, 1, 2]])

# Unstack the second level of the index
unstacked = data.unstack(level=1)

# Stack it back to the original format
stacked = unstacked.stack(level=1)
print(stacked)
print(unstacked)

     A  B
X 1  1  5
  2  2  6
Y 1  3  7
  2  4  8
   A     B
   1  2  1  2
X  1  2  5  6
Y  3  4  7  8

In [7]:
# Create a long-format DataFrame with year, month, and temperature
data = pd.DataFrame({'year': [2021, 2021, 2022, 2022],
                    'month': [1, 2, 1, 2],
                    'temperature': [30, 35, 28, 32]})

# Pivot the data to have years as columns and months as rows
pivoted = data.pivot(index='month', columns='year', values='temperature')

print(pivoted)

year   2021  2022
month
1        30    28
2        35    32

In [8]:
# Create a wide-format DataFrame with year, Jan, and Feb columns
data = pd.DataFrame({'year': [2021, 2022],
                    'Jan': [30, 28],
                    'Feb': [35, 32]})

# Unpivot (melt) the data to a long format
melted = data.melt(id_vars='year', var_name='month', value_name='temperature')
print(melted)

   year month  temperature
0  2021   Jan           30
1  2022   Jan           28
2  2021   Feb           35
3  2022   Feb           32

In [9]:
# Create a DataFrame with a categorical 'Category' column
data = pd.DataFrame({'Category': ['A', 'B', 'A', 'C', 'B'],
                    'Value': [10, 20, 15, 25, 30]})

# Convert the categorical 'Category' column into dummy variables
dummies = pd.get_dummies(data, columns=['Category'], prefix='Category')
print(dummies)

   Value  Category_A  Category_B  Category_C
0     10           1           0           0
1     20           0           1           0
2     15           1           0           0
3     25           0           0           1
4     30           0           1           0

In [11]:
# Create two sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenate them along rows (axis=0) to combine data
combined = pd.concat([df1, df2], axis=0)
print(combined)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [12]:
# Create a DataFrame with a 'Full Name' column
data = pd.DataFrame({'Full Name': ['John Doe', 'Jane Smith']})

# Split the 'Full Name' into 'First Name' and 'Last Name'
data[['First Name', 'Last Name']] = data['Full Name'].str.split(' ', expand=True)
print(data)

    Full Name First Name Last Name
0    John Doe       John       Doe
1  Jane Smith       Jane     Smith