In [2]:
import numpy as np
import pandas as pd

# Multi-index
A subject that you might not think that you'd need - but turns out to be a rather frequent usecase.

The initial idea behind the multi-index was to provide a framework to work with higher dim data (and thus a replacement for panels).

In [3]:
# Creating a multi-index DataFrame
data = {'Value': [10, 20, 30, 40]}
arrays = [['A', 'A', 'B', 'B'], [1, 2, 1, 2]]
index = pd.MultiIndex.from_arrays(arrays, names=('Letter', 'Number'))

df_multi = pd.DataFrame(data, index=index)

# Printing the multi-index DataFrame
print("Multi-Index DataFrame:")
print(df_multi)

Multi-Index DataFrame:
               Value
Letter Number
A      1          10
       2          20
B      1          30
       2          40

# Getting Single Values
The next little indexing trick is one that is mostly about speed. But it is getting and setting single values. It is a pretty simple:

In [4]:
# Getting a single value from the multi-index DataFrame
value = df_multi.at[('A', 2), 'Value']

# Printing the retrieved value
print("Retrieved Value:")
print(value)

Retrieved Value:
20

In [5]:
# Create a DataFrame with missing values
data_missing = {'A': [1, 2, None, 4],
                'B': [5, None, 7, 8]}
df_missing = pd.DataFrame(data_missing)

# Print the DataFrame with missing values
print("DataFrame with Missing Values:")
print(df_missing)

# Pandas automatically handles missing values (NaN)

DataFrame with Missing Values:
     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  7.0
3  4.0  8.0

# reshape

In [7]:
import pandas as pd

# Creating a basic DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35]}

df = pd.DataFrame(data)

# Printing the basic DataFrame
print("Basic DataFrame:")
print(df)

Basic DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   35

In [8]:
# Reshaping the DataFrame
melted_df = pd.melt(df, id_vars=['Name'], value_vars=['Age'], var_name='Attribute', value_name='Value')

# Printing the melted DataFrame
print("Melted DataFrame:")
print(melted_df)

# Pivoting the melted DataFrame
pivoted_df = melted_df.pivot(index='Name', columns='Attribute', values='Value')

# Printing the pivoted DataFrame
print("Pivoted DataFrame:")
print(pivoted_df)

Melted DataFrame:
      Name Attribute  Value
0    Alice       Age     25
1      Bob       Age     30
2  Charlie       Age     22
3    David       Age     35
Pivoted DataFrame:
Attribute  Age
Name
Alice       25
Bob         30
Charlie     22
David       35